<!DOCTYPE HTML>
<html lang="de">
<head>
    <title>Osterlager</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon" />
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <h1>Osterlager 2025</h1>
    <p>Häschen Willkommen zum Osterlager 2025!<br>
        Seid Ihr bereit dafür?</p>

    <form id="login-form" method="post" action="/home.html">
        <textarea name="message" id="message" placeholder="Schreibe deine Nachricht hier..." required></textarea>
        <input type="submit" value="Senden" />
        <br>
        <input type="submit" value="Logout" />
    </form>
</header>

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="github.com/tbuetler" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:tim.buetler@protonmail.ch" class="icon fa-envelope"><span class="label">Email</span></a>
        </li>
    </ul>
    <ul class="copyright">
        <li>&copy;Tim Bütler.</li>
        <li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>

<!-- Scripts -->
<script src="/js/main.js"></script>

<script>
    document.getElementById('login-form').addEventListener('submit', async function(e) {
        e.preventDefault(); // Verhindert das Standard-Formularverhalten

        const message = document.getElementById('message').value;

        if (message) {
            // Nachricht an den Server senden
            try {
                const response = await fetch('http://127.0.0.1:3000/logMessage', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        message: message
                    })
                });

                if (response.ok) {
                    alert('Nachricht wurde erfolgreich gespeichert.');
                } else {
                    alert('Fehler beim Speichern der Nachricht.');
                }
            } catch (error) {
                console.error('Fehler:', error);
                alert('Fehler beim Senden der Nachricht.');
            }

            // Leere das Textfeld nach dem Absenden
            document.getElementById('message').value = '';
        }
    });
</script>

</body>
</html>
